/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  background-color: #15191b;
}

h1 {
  position: absolute;
  top: 30px;
  left: 45px;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: relative;
}

.section {
  position: relative;
  overflow: hidden;
  height: 100%;
}

#drawing {
  position: absolute;
  bottom: -10px;
  width: 150%;
  height: auto;
  max-height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  #drawing {
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
}

.path-h {
  animation-name: path-h;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1.4s;
  opacity: 0;
}

@keyframes path-h {
  100% {
    opacity: 1;
  }
}

#path1 {
  visibility: visible;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 6465px;
  stroke-dashoffset: 6465px;
  animation-name: path1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0.3s;
}

@keyframes path1 {
  90% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #15191b;
  }
}

#path2 {
  visibility: visible;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 4405px;
  stroke-dashoffset: 4405px;
  animation-name: path2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
}
@keyframes path2 {
  90% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #7e7e7e;
  }
}

#path3 {
  visibility: visible;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 3677px;
  stroke-dashoffset: 3677px;
  animation-name: path3;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes path3 {
  90% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #7e7e7e;
  }
}

.h1 {
  font-size: 34px;
  color: white;
  position: relative;
}
@keyframes example-two-anim-1 {
  0% {
    clip: rect(14px, 714px, 17px, 0);
  }
  10% {
    clip: rect(47px, 714px, 2px, 0);
  }
  20% {
    clip: rect(20px, 714px, 29px, 0);
  }
  30% {
    clip: rect(41px, 714px, 6px, 0);
  }
  40% {
    clip: rect(17px, 714px, 18px, 0);
  }
  50% {
    clip: rect(2px, 714px, 8px, 0);
  }
  60% {
    clip: rect(39px, 714px, 36px, 0);
  }
  70% {
    clip: rect(46px, 714px, 23px, 0);
  }
  80% {
    clip: rect(37px, 714px, 6px, 0);
  }
  90% {
    clip: rect(28px, 714px, 32px, 0);
  }
  100% {
    clip: rect(18px, 714px, 8px, 0);
  }
}
@keyframes example-two-anim-2 {
  0% {
    clip: rect(38px, 714px, 28px, 0);
  }
  10% {
    clip: rect(18px, 714px, 45px, 0);
  }
  20% {
    clip: rect(1px, 714px, 31px, 0);
  }
  30% {
    clip: rect(25px, 714px, 5px, 0);
  }
  40% {
    clip: rect(3px, 714px, 6px, 0);
  }
  50% {
    clip: rect(23px, 714px, 8px, 0);
  }
  60% {
    clip: rect(27px, 714px, 48px, 0);
  }
  70% {
    clip: rect(20px, 714px, 8px, 0);
  }
  80% {
    clip: rect(2px, 714px, 27px, 0);
  }
  90% {
    clip: rect(34px, 714px, 7px, 0);
  }
  100% {
    clip: rect(45px, 714px, 3px, 0);
  }
}
.h1:before,
.h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #15191b;
  clip: rect(0, 0, 0, 0);
}
.h1:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: example-two-anim-1 2s infinite linear alternate-reverse;
}
.h1:before {
  left: -2px;
  text-shadow: 2px 0 red;
  animation: example-two-anim-2 3s infinite linear alternate-reverse;
}

.links {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  top: auto;
  left: 45px;
  z-index: 1000;
  animation-name: links;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1.4s;
}

@media (min-width: 1024px) {
  .links {
    top: 40%;
    bottom: auto;
  }
}

@keyframes links {
  100% {
    opacity: 1;
  }
}

.links li {
  margin-bottom: 40px;
  transform: rotate(-10deg);
}

.links a {
  padding: 10px;
  border: 2px solid blue;
  color: blue;
  background: white;
  transform: rotate(-10deg);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .links a {
    border: 2px solid white;
    color: white;
    background: transparent;
  }
}

.links a:hover,
.links a:active,
.links a:visited,
.links a:focus {
  text-decoration: none;
}

.links a:hover {
  border-color: blue;
}

.links a:active {
  border-color: red;
}

.container {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.articles li {
  margin-bottom: 15px;
}
